.fileprop_row {
    margin: 0 0 2px 0;
}

.fileprop_header {
    display:inline-block;
    width: 70px;
    padding: 0 10px 0 0;
    text-align: right;
    clear: both;
}

.fileprop_value {
    display:inline-block;
    width: 240px;
}

.fileprop_value > span {
    font-weight: bold;
}