HTML {
/*    overflow : hidden;*/
    background : #e2f6fd;
    height: 100%;
}
BODY {
    background: #e2f6fd url(images/main_bg.jpg) repeat-y 0 0;
    font-family      : Arial, Helvetica, sans-serif;
    color            : #89b0c0;
    margin           : 0;
    padding          : 0 ;
    font-size        : 12px;
    height: 100%;
}
.mainwarper {
    width: 100%;
/*    margin: 0;*/
    min-height: 600px;
/*    height: auto;*/
    _height: auto !important;
    margin-bottom: -40px;
    height: 100%;
    position: relative;
    z-index: 0;
    min-width: 1024px;
    background: url(images/header_bg.png) no-repeat center top;
}
.maincontent {
    margin: 0 auto;
    width: 1024px;
    padding: 0 10px;
    min-height: 500px;
}
.error_logo {
    margin: 0 auto;
    width: 441px;
    height: 470px;
    background: url(images/error_logo.png) no-repeat 0 0;
}
.error_msgbox {
}
.error_msg1 {
    text-align: center;
    color: #195278;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 10px 0;
    white-space: no-wrap;
}
.error_msg2 {
    text-align: center;
    color: #195278;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.error_msg2 a {
    color: #188f36;
    text-decoration : none;
}
.error_msg2 a:hover {
    text-decoration : underline;
}
.error_msg2 img {
    border: none;
}