HTML {
    overflow : hidden;
    background : #e8e8e8;
}
BODY {
    background-color : #fefefe;
    font-family      : "Arial";
    color            : #222222;
    margin           : 0;
    padding          : 0 ;
    font-size        : 12px;
}

.noscript{
    display: none;
}
.strong{
    font-weight : bold;
}

.cut{
    opacity : 0.5;
}

#animateFocus {
    z-index: 99999;
    position: absolute;
    -webkit-box-shadow: 0px 0px 25px #000;
    -moz-box-shadow: 0px 0px 25px #000;
    overflow: hidden;
}

#animateFocusPosition {
    position: absolute;
}

#focusHandleRight, #focusHandleLeft {
    position: absolute;
    z-index: 99999;
    width: 5px;
    background: transparent;
    cursor: ew-resize;
    opacity: 0;
}

#focusHandleLeft {
    background-image: linear-gradient(right , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
    background-image: -o-linear-gradient(right , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
    background-image: -moz-linear-gradient(right , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
    background-image: -webkit-linear-gradient(right , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
    background-image: -ms-linear-gradient(right , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
}

#focusHandleRight {
    background-image: linear-gradient(left , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
    background-image: -o-linear-gradient(left , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
    background-image: -moz-linear-gradient(left , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
    background-image: -webkit-linear-gradient(left , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
    background-image: -ms-linear-gradient(left , rgb(153,153,153) 0%, rgb(204,204,204) 50%);
}

.vbfocus {
    opacity: 0;
    z-index: 99998;
    background: url(images/focusbg.png);
    padding: 0 80px;
}

#logo {
    background: url(images/logo.png) no-repeat 0 0;
    width: 186px;
    height: 26px;
    display: block;
    text-indent: -800em;
    position: absolute;
    right: 0;
    top: 0;
}
.headerMenuBar {
    padding-right: 190px;
}
.alertMsg {
    font-size   : 14px;
    color       : #333333;
    font-family : Arial;
    line-height : 16px;
}

#loadscreen{
    background : white;
    padding : 10px;
    position : absolute;
    left : 0;
    top : 0; 
    right : 0;
    bottom : 0;
    z-index : 100;
    color : #666;
}

.relative{
    position : relative;
}

.consoleInputBox {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1d1d1d),color-stop(1, #292929));
    background: -moz-linear-gradient(center bottom,#1d1d1d 0%,#292929 100%);
    padding : 1px;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #1f1f1f;
    /*border-bottom: 1px solid #b2b2b2;*/
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
}

.dockcol{
    border-left : 1px solid #333;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.8) inset;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/**
 * SERVICE SIGNIN BUTTONS
 */
 
.signin_options {
    margin: 15px 16px 0;
    text-align: right;
}

.github-signin {
    width: 26px;
    height: 24px;
    background:url(images/signin_github.png) no-repeat 0 0;

    display: inline-block;
    float: right;
    height: 24px;
    margin-left: 6px;
    margin-top: -5px;
    width: 26px;
}

.github-signin.btn-over {
    background-position:0 -24px;
}

.bitbucket-signin {
    width: 26px;
    height: 24px;
    background:url(images/signin_bitbucket.png) no-repeat 0 0;

    display: inline-block;
    float: right;
    height: 24px;
    margin-left: 6px;
    margin-top: -5px;
    width: 26px;
}

.bitbucket-signin.btn-over {
    background-position:0 -24px;
}
.facebook-signin {
    width: 26px;
    height: 24px;
    background:url(images/signin_facebook.png) no-repeat 0 0;
    
    display: inline-block;
    float: right;
    height: 24px;
    margin-left: 6px;
    margin-top: -5px;
    width: 26px;
}

.facebook-signin.btn-over {
    background-position:0 -24px;
}

.google-signin {
    width: 26px;
    height: 24px;
    background:url(images/signin_google.png) no-repeat 0 0;
    
    display: inline-block;
    float: right;
    height: 24px;
    margin-left: 6px;
    margin-top: -5px;
    width: 26px;
}

.google-signin.btn-over {
    background-position:0 -24px;
}

.twitter-signin {
    width: 26px;
    height: 24px;
    background:url(images/signin_twitter.png) no-repeat 0 0;
    
    display: inline-block;
    float: right;
    height: 24px;
    margin-left: 6px;
    margin-top: -5px;
    width: 26px;
}

.twitter-signin.btn-over {
    background-position:0 -24px;
}