.barConsoleHints{
    z-index: 10000;
    padding: 4px 4px 0 4px;
    position: absolute;
    display: none;

    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    border-left: 1px solid #333333;;
    border-right: 1px solid #333333;;
    border-top: 1px solid #333333;

    border-top: 1px solid #333333;

    background-color: #000000;
    backgroud: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(50,51,52)),color-stop(1, rgb(30,30,30)));
    background: -moz-linear-gradient(center bottom,rgb(50,51,52) 0%,rgb(30,30,30) 100%);
}

.barConsoleHints a {
    position: relative;
    text-decoration: none;
    font-weight: normal;
    color: #eeeeee;
    padding: 3px;
    margin: 0 0 2px 0;

    display: block;
}

.barConsoleHints a:hover {
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    background-color: #f0f0f0;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(227,227,227)));
    background:-moz-linear-gradient(center top,rgb(255,255,255) 0%,rgb(227,227,227) 100%);

    border: 1px solid #b8b8b8;
}

.barConsoleHints a span {
    color: #909090;
    font-style: italic;
    margin-left: 4px;
    font-size: 11px;
}

.barConsoleHints a span.hints_hotkey {
    color: #666;
    font-weight: bold;
    float: right;
}