/********************************************************************************
 * Tools
 *******************************************************************************/

.fbox:after {
    content: "";
    display: block;
    clear: both;
}
.fleft {
    float: left !important;
}
.fright {
    float: right !important;
}
.tar {
    text-align: right !important;
}

/********************************************************************************
 * Loading animation
 *******************************************************************************/
@-webkit-keyframes loading { 0%, 19.99%, 100% { background-position: 0 0 } 20%, 39.99% { background-position: -30px 0 } 40%, 59.99% { background-position: -60px 0 } 60%,79.99% { background-position: -90px 0 } 80%, 99.99% { background-position: -120px 0 } }
   @-moz-keyframes loading { 0%, 19.99%, 100% { background-position: 0 0 } 20%, 39.99% { background-position: -30px 0 } 40%, 59.99% { background-position: -60px 0 } 60%,79.99% { background-position: -90px 0 } 80%, 99.99% { background-position: -120px 0 } }
        @keyframes loading { 0%, 19.99%, 100% { background-position: 0 0 } 20%, 39.99% { background-position: -30px 0 } 40%, 59.99% { background-position: -60px 0 } 60%,79.99% { background-position: -90px 0 } 80%, 99.99% { background-position: -120px 0 } }

div.loading {
    -webkit-animation: loading .7s linear 0s infinite normal;
       -moz-animation: loading .7s linear 0s infinite normal;
            animation: loading .7s linear 0s infinite normal;

    background: url({ide.staticPrefix}/ext/main/style/images/loading.png) no-repeat;
    height: 27px;
    left: 50%;
    margin: -13px 0 0 -14px;
    position: absolute;
    top: 50%;
    width: 28px;
}

/********************************************************************************
 * General styles
 *******************************************************************************/

.error.button-colorless {
    color: #FFE4A1;
}

.chromeless {
    margin-right: 10px;
}
.label-dashboard {
    padding: 0 7px 0 0;
}

.new-project-options .button-link-dark {
    line-height: 25px;
    overflow: hidden;
    padding-right: 24px;
    text-align: center;
    white-space: nowrap;
}
.new-project-options .button-link-dark:last-child {
    padding-right: 0;
}

.profile .button-close,
.dashboard .button-close {
    right: 8px;
    position: absolute;
    top: 8px;
}
/********************************************************************************
 * Own VM
 *******************************************************************************/
.own-vm {
    padding: 11px;
}
.own-vm .vbox {
    position: relative;
}
.own-vm .more-about-ssh {
    color: #C9C9C9;
    text-decoration: none;
    font-size: 10px;
    padding-top: 6px;
    position: absolute;
    right: 0;
}

.test-connection-label {
    position: absolute;
    right: -9px;
}

/********************************************************************************
 * Clone
 *******************************************************************************/

.clone.button-colorless,
.cloning.button-colorless {
    position: relative;
}
.clone.button-colorless:after,
.cloning.button-colorless:after {
    background: url({ide.staticPrefix}/ext/main/style/images/button-clone.png) no-repeat 50% 0;
    display: block;
    content: "";
    width: inherit;
    height: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}
.cloning.button-colorless:after {
    background-position: 50% -30px;
}
.clone.button-colorless {
    text-indent: -24px;   
}

/********************************************************************************
 * FTP
 *******************************************************************************/
.ftp .rb_black span {
    color: #C9C9C9;
    font-family: Arial, sans;
    font-size: 12px;
}

.ftp .left.label-tooltip {
    padding-top: 0;
}

/********************************************************************************
 * Pick a template
 *******************************************************************************/
.pick-template {
    box-shadow: 0 -1px 0 #111,
                inset 0 1px 0 rgba(255,255,255,.07);
    background-image:    -moz-linear-gradient(90deg, #292929 0%, #303030 100%);
    background-image: -webkit-linear-gradient(90deg, #292929 0%, #303030 100%);
    background-image:         linear-gradient(90deg, #292929 0%, #303030 100%);
    position: relative;
}
.pick-template .categories {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 #353535;
}
.pick-template .categories .button-link-dark {
    color: #C9C9C9;
    font-size: 14px;
    padding: 7px 17px 13px;
}
.pick-template .categories .button-link-dark.selected {
    color: #FCB520;
}

.pick-template .template-list .vbox .button-link-dark {
    color: #C9C9C9;
    text-align: center;
}
.pick-template .template-list .vbox.selected .button-link-dark {
    color: #F4CE85;
}
.pick-template .template-list .vbox.selected .thumbnail-colorless {
    background-color: #665A43;
    background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.16) 100%);
    background-image:    -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.16) 100%);
    background-image:         linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.16) 100%);
    box-shadow: 0 1px 5px rgba(0,0,0,.31),
                inset 0 0 0 1px rgba(255,255,255,.2);
}
.pick-template .controls {
    position: absolute;
    top: 59px;
    right: 35px;
}
.pick-template .controls .cancel {
    font-size: 13px;
    line-height: 28px;
}

/********************************************************************************
 * Profile

    ooooooooo.                       .o88o.  o8o  oooo            
    `888   `Y88.                     888 `"  `"'  `888            
     888   .d88' oooo d8b  .ooooo.  o888oo  oooo   888   .ooooo.  
     888ooo88P'  `888""8P d88' `88b  888    `888   888  d88' `88b 
     888          888     888   888  888     888   888  888ooo888 
     888          888     888   888  888     888   888  888    .o 
    o888o        d888b    `Y8bod8P' o888o   o888o o888o `Y8bod8P' 
                                                                  
 *******************************************************************************/
.profile .account {
    background-color: rgba(60,61,63,.7);
    background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.08) 100%);
    background-image:    -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.08) 100%);
    background-image:         linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.08) 100%);
    border-radius: 5px;
    border: 1px solid rgba(0,4,10,.45);
    box-shadow: 0 1px 5px rgba(0,0,0,.31), inset 0 0 0 1px #5e5e5e;
    position: relative;
}
.profile .account .header {
    background-color: #d2654c;
    background-image: url({ide.staticPrefix}/ext/dashboard/images/header.png);
    border-bottom: 1px solid rgba(0,0,0,.6);
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.18),
                inset 0 0 2px rgba(243,242,240,.15),
                0 1px 0 0 #5E5E5E;
}
.profile .account .header .label {
    background: url({ide.staticPrefix}/ext/dashboard/images/label-my-account.png) no-repeat 3px 50%;
    overflow: hidden;
    text-indent: 100%;
}
.profile .account .header .button-link-dark {
    box-shadow: 3px 0px 0 -2px #F9E0DA;
    color: #f9e0da;
    font-size: 11px;
    margin-right: 7px;
    padding-right: 6px;
    text-shadow: 0 1px 0 #a8533e;
}
.profile .account .header .button-link-darkOver {
    color: white;
}
.profile .account .header .button-link-dark:last-child {
    box-shadow: none;
    padding-right: 0;
}
.profile .account .content {
    background: #e5e3e1 url({ide.staticPrefix}/ext/dashboard/images/content.png);
    border: 2px solid #313232;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.81);
}
.profile .content .avatar-holder {
    background: url({ide.staticPrefix}/ext/dashboard/images/avatar.png) no-repeat 50% 0;
    height: 104px;
    overflow: hidden;
    padding: 8px 9px;
    width: 101px;
}

.profile .content .chromeless input {
    color: #575654;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 18px;
    text-shadow: 0 1px 0 #f9f5f2;
}
.profile .content .chromeless {
    border: 1px dotted transparent;
    border-radius: 4px;
}
.profile .content .chromeless:hover,
.profile .content .chromelessFocus {
    border: 1px dotted #BBB;
}
.profile .content .chromelessFocus {
    background-color: rgba(255,255,255,.5) !important;
    border-style: solid !important;
}
.profile .content .public-url {
    color: #979890;
    font-family: Georgia, serif;
    font-size: 13px;
    font-style: italic;
    text-shadow: 0 1px 0 #f9f5f2;
}
.profile .content .public-url .custom {
    color: #51813A;
    display: inline-block;
}
.profile .content .share {
    background: url({ide.staticPrefix}/ext/dashboard/images/heart.png) no-repeat 0 50%;
    color: #865032;
    font-size: 12px;
    line-height: 19px;
    text-shadow: 0 1px 0 #efebe8;
}

.emboss-pattern {
    background: url({ide.staticPrefix}/ext/dashboard/images/emboss-pattern.png) 0 50% repeat-x;
    bottom: 3px;
    left: 5px;
    position: absolute;
}

.linked-services > .title {
    color: #dbdbdb;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px 0 #141414;
}
.linked-services .cbcontainer .label {
    color: #81AFCD;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.linked-services .cbcontainerDisabled .label {
    color: #8A8A8A;
}
.linked-services .email {
    color: #8A8A8A;
    font-size: 11px;
    left: -5px;
    line-height: 37px;
    position: relative;
}
.linked-services .cbcontainer .fake-button {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 27px;
    margin: 0 1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: 100%;
    top: -8px;
    width: 36px;
}
.linked-services .cbcontainerOver .fake-button {
    background-position: -40px 0;
}
.linked-services .cbcontainerDown .fake-button {
    background-position: -80px 0;
    
}
.linked-services .cbcontainerDisabled .fake-button {
    background-position: -120px 0;
}

.linked-services .cbcontainer .fake-button.github {
    background-image: url({ide.staticPrefix}/ext/dashboard/images/checkbox-buttons/github.png);
}
.linked-services .cbcontainer .fake-button.bitbucket {
    background-image: url({ide.staticPrefix}/ext/dashboard/images/checkbox-buttons/bitbucket.png);
}
.linked-services .button-link-dark {
    color: #C8FAC7;
}
.linked-services .info {
    color: #849ea0;
    font-family: Georgia, serif;
    font-size: 11px;
    font-style: italic;
    left: 4px;
    line-height: 14px;
    position: relative;
    text-shadow: 0 1px 0 #141414;
    top: -2px;
}
.settings h3 {
    color: #dbdbdb;
    font-size: 11px;
    padding-bottom: 2px;
    text-indent: 4px;
    text-shadow: 0 1px 0 #141414;
}
.settings .button-colorless {
    line-height: 21px;
}