.hbox:after {
    clear: both;
    content: "";
    display: block;
    float: none
}
.fleft {
    float: left;
}
.new-project {
    background: url(/static/ext/dashboard/images/new-project.png) no-repeat 50% 50%;
    height: 27px;
    overflow: hidden;
    padding-right: 6px;
    text-indent: 100%;
    width: 101px;
}
.label.data {
    color: #C9C9C9;
    font-size: 12px;
    line-height: 27px;
    padding: 0 5px 0 10px;
}