-var dirPrefix = "./";
-var landingPage = 'false'
-var pTitle = classId || pageTitle;

mixin doctype
  !!! 5

  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

mixin head
  meta(charset="utf-8")
  //- N.B. http://blog.yjl.im/2011/01/bad-value-x-ua-compatible-for-attribute.html
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  -if (isIndex)
    title #{title}
  -else
    title #{title} - #{pTitle}

  meta(name="generator", content="panino-doc-build")
  meta(name="author", content="Garen J. Torikian")

  meta(name="viewport", content="width=device-width,initial-scale=1")

  link(rel="stylesheet", href="/assets/csses/bootstrap.min.css")
  link(rel="stylesheet", href="/assets/csses/prettify.css")
  link(rel="stylesheet", href="/assets/csses/refguide_overrides.css")

  link(href="/assets/images/favicon.ico", rel="icon", type="image/x-icon")

  link(type="text/css", rel="stylesheet", href="//yandex.st/highlightjs/6.1/styles/vs.min.css")

  script(src="/assets/javascripts/jquery.js")
  script(src="/assets/javascripts/clicker.js")
  script(src="/assets/javascripts/jquery.collapse.js")
  script(src="/assets/javascripts/jquery.cookie.js")
  script(src="/assets/javascripts/bootstrap-dropdown.js")
  script(src="/assets/javascripts/bootstrap-tab.js")
  script(src="/assets/javascripts/jquery-scrollspy.js")
  
mixin navBar
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div#topSection.container

        ul.nav.topLinks

        form(id='searchbox', action='', class='navbar-search pull-right') 
          input(class='search-query span3', name='query', type='text', placeholder="Search the API", title="Search across all the documentation")


mixin footer
  div#footer
    .footerInner
      .footer-text &#169; 2012:


mixin endingScripts
  script(src="/assets/javascripts/ux.js")

mixin markdown(text, inline)
  != markdown(text, inline)