[submodule "vendor/async.js"]
	path = vendor/async.js
	url = http://github.com/ajaxorg/async.js.git
[submodule "vendor/node-o3-xml"]
	path = vendor/node-o3-xml
	url = http://github.com/ajaxorg/node-o3-xml.git
