
[submodule "support/async.js"]
	path = support/async.js
	url = http://github.com/ajaxorg/async.js.git
[submodule "support/node-o3-xml"]
	path = support/node-o3-xml
	url = http://github.com/ajaxorg/node-o3-xml.git
[submodule "support/node-o3-xml-v4"]
	path = support/node-o3-xml-v4
	url = git://github.com/ajaxorg/node-o3-xml-v4.git
