*.swp
*.un~
common/packager
common/apf
client/icons/Thumbs.db
client/common
.settings.xml
.project
.settings
/demo
.settings.xml.old
.DS_Store
/nbproject
support/packager/
aut.js
helloworld.js
build/
.*.gz
