*.swp
*.un~
Thumbs.db
common/packager
common/apf
client/common
build/src
build/app.build.js
.settings.xml
.project
.settings
.sessions
/demo
.settings.xml.old
.DS_Store
.c9revisions
.architect/
.sourcemint/
plugins-client/lib.packed/www/
plugins-client/lib.ace/www/
node_modules/
plugins-server/fixtures/node_env/hello.js
npm-debug.log
plugins-client/lib.apf/www/apf-packaged/apf_debug.js
.sessions/
