.DS_Store
.settings
.sessions/
.c9revisions/
.idea/
plugins-client/lib.packed/www/
plugins-client/lib.ace/www/worker/
plugins-client/lib.ppc/www/ppc/ppc.js
node_modules/
ppc/build/

plugins-client/ext.test
plugins-client/ext.mungit
