.*.gz
build
support/node-builds
common/apf
common/packager
support/ace/support/requirejs
support/ace/support/node-o3-xml
support/ace/support/node-o3-xml-v4
support/ace/support/cockpit
support/ace/support/jsdom
support/ace/support/node-htmlparser
support/ace/support/async
support/ace/support/dryice
support/ace/tool
support/ace/demo
support/apf/debugwin
support/apf/test
support/connect/support/expresso
support/connect/support/less
support/connect/support/sass
support/connect/support/coffee-script
support/gnu-builds
*.psd