.barConsoleHints {
    z-index: 10000;
    padding: 4px 4px 0 4px;
    position: absolute;
    display: none;

    bottom: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #000101;
    border-width: 1px 1px 0 1px;

    background-color: #000000;
    background-image: url("{ide.staticPrefix}/ext/main/style/images/noise_pattern_transparent30.png"),
        linear-gradient(bottom, rgb(31,31,31) 0%, rgb(45,47,51) 100%);
    background-image: url("{ide.staticPrefix}/ext/main/style/images/noise_pattern_transparent30.png"),
        -o-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(45,47,51) 100%);
    background-image: url("{ide.staticPrefix}/ext/main/style/images/noise_pattern_transparent30.png"),
        -moz-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(45,47,51) 100%);
    background-image: url("{ide.staticPrefix}/ext/main/style/images/noise_pattern_transparent30.png"),
        -webkit-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(45,47,51) 100%);
    background-image: url("{ide.staticPrefix}/ext/main/style/images/noise_pattern_transparent30.png"),
        -ms-linear-gradient(bottom, rgb(31,31,31) 0%, rgb(45,47,51) 100%);
    background-repeat: repeat;
    max-height: 300px;
    overflow: auto;
    
    -webkit-box-shadow: inset 0px 1px 0px 0px #3e4041;
    -moz-box-shadow: inset 0px 1px 0px 0px #3e4041;
    box-shadow: inset 0px 1px 0px 0px #3e4041; 
}

.barConsoleHints a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3px 5px;
    margin: 0 0 2px 0;
    display: block;
}

.barConsoleHints a.selected {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #2ca701;
    border: 1px solid #505051;
    border-bottom: 1px solid #1d1e1f;
}

.barConsoleHints a span {
    color: #b3b3b3;
    font-style: italic;
    margin-left: 4px;
    font-size: 11px;
    font-weight: normal;
}

.barConsoleHints a span.hints_hotkey {
    color: #666;
    font-weight: bold;
    float: right;
    margin-left : 20px;
    margin-top : 0px;
}

.barConsoleHints a.selected span {
    color: #90908b
}
