<a:application xmlns:a="http://ajax.org/2005/aml">
    <div class="header">
        <span></span><div>Key Bindings</div>
    </div>
    <a:hbox edge="0 5 5 5" align="center" padding="5">
        <a:label flex="1">Preset</a:label>
        <a:dropdown id="ddKeyBind" value="[{require('ext/settings/settings').model}::general/keybindings/@preset]" realtime="true" width="150">
            <a:item value="default_mac">Apple OSX</a:item>
            <a:item value="default_win">Microsoft Windows</a:item>
        </a:dropdown>
    </a:hbox>
</a:application>