<a:application xmlns:a="http://ajax.org/2005/aml">
    <a:checkbox class="underlined" label="Enable JSHint Rules"
        value="[language/@jshint]" onclick="require('ext/language/language').setJSHint()" skin="checkbox_grey" position="1000"/>
    <a:checkbox class="underlined" label="Highlight Variable Instances"
        value="[language/@instanceHighlight]" onclick="require('ext/language/language').setInstanceHighlight()" skin="checkbox_grey" position="2000"/>
    <a:checkbox class="underlined" label="Mark Undeclared Variables"
        value="[language/@undeclaredVars]" onclick="require('ext/language/language').setUndeclaredVars()" skin="checkbox_grey" position="3000"/>
    <a:checkbox class="underlined" label="Mark Unused Function Arguments"
        value="[language/@unusedFunctionArgs]" onclick="require('ext/language/language').setUnusedFunctionArgs()" skin="checkbox_grey" position="4000"/>
</a:application>
