<a:application xmlns:a="http://ajax.org/2005/aml">
    <a:checkbox class="underlined" label="Enable JSHint"
        checked="{[language/@jshint] != '' ? [language/@jshint] : 'true'}"
        value="[language/@jshint]" onclick="require('ext/language/language').setJSHint()" skin="checkbox_grey"/>
    <a:checkbox class="underlined" label="Variable instance highlighting"
        checked="{[language/@instanceHighlight] != '' ? [language/@instanceHighlight] : 'true'}"
        value="[language/@instanceHighlight]" onclick="require('ext/language/language').setInstanceHighlight()" skin="checkbox_grey"/>
    <a:checkbox class="underlined" label="Mark undeclared variables"
        checked="{[language/@undeclaredVars] != '' ? [language/@undeclaredVars] : 'true'}"
        value="[language/@undeclaredVars]" onclick="require('ext/language/language').setUndeclaredVars()" skin="checkbox_grey"/>
    <a:checkbox class="underlined" label="Mark unused function arguments"
        checked="{[language/@unusedFunctionArgs] != '' ? [language/@unusedFunctionArgs] : 'true'}"
        value="[language/@unusedFunctionArgs]" onclick="require('ext/language/language').setUnusedFunctionArgs()" skin="checkbox_grey"/>
</a:application>
