include ../common_layout

mixin identifyBuild('', 'nodejs_dev_guide')

mixin doctype

html(xmlns="http://www.w3.org/1999/xhtml")
  head
    mixin head('./../../', whoAmI)
    link(rel="stylesheet", href="../../latest/assets/csses/devguide_overrides.css")

  body
    mixin navBar(whoAmI)
    #nonFooter
      #wrapper
        .content
          .row.centerpiece
            .span3#sidebarContainer
              #sidebar
                include nodejs_dev_guide_menu.jade
            .span9#mainContent
              #documentation
              div.title
                h1.pageTitle #{pageTitle}
                  span.editInC9 
                    mixin formatGHHref(whoAmI, 'nodejs_dev_guide')

                if metadata && metadata.Author
                  span.cite by 
                    -var authors = metadata.Author.split(",")
                    -var urls = metadata.URL.split(",")
                    -for (var a = 0; a < authors.length; a++)
                      a(href='#{urls[a]}') #{authors[a]}
                      if (a != authors.length - 1)
                        ,

              .dev_guide#content!= content

              div#disqus_thread
       .push
    mixin footer
  
    mixin endingScripts