div#well

   h3 Basic Overview

   ul.menu
      li
         div.menu-item
            a(class="menuLink", href="writing_asynchronous_code.html") Writing Asynchronous Code   
      li
         div.menu-item
            a(class="menuLink", href="working_with_callbacks.html") Working with Callbacks
      li
         div.menu-item
            a(class="menuLink", href="understanding_event_emitters.html") Understanding Event Emitters
      li
         div.menu-item
            span.menuHeader
               a(class="menuLink", href="npm.html") The Node Package Manager
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink", href="core_libs_vs_user_libs.html") Core Libraries versus User-Submitted Modules 

   h3 Tutorials

   ul.menu       
      li
         div.menu-item
            a(class="menuLink", href="implementing_logging.html") Implementing Logging Messages
      li
         div.menu-item
            span.menuHeader
               a(class="menuLink", href="using_closures.html") Using Closures
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink", href="closures_for_events_and_callbacks.html") Closures for Events and Callbacks
      li
         div.menu-item
            a(class="menuLink", href="reading_and_writing_files.html") Reading and Writing to Files
      li
         div.menu-item
            span.menuHeader 
               a(class="menuLink", href="http_servers_and_clients.html") HTTP Servers and Clients
         ul.menuTwo
            li
               div.menu-item
                  a(class="menuLink", href="creating_an_http_server.html") Creating an HTTP Server
            li
               div.menu-item
                  a(class="menuLink", href="serving_files.html") Serving Files   
            li
               div.menu-item
                  a(class="menuLink", href="creating_http_requests.html") Creating HTTP GET and POST Requests                                 
            li
               div.menu-item
                  a(class="menuLink", href="deciphering_query_strings.html") Deciphering Query Strings
      li
         div.menu-item
            span.menuHeader
               a(class="menuLink", href="buffers_and_streams.html") Buffers and Streams
         ul.menuTwo
            li
               div.menu-item
                 a(class="menuLink", href="manipulating_buffers.html") Manipulating Buffers   
            li
               div.menu-item
                  a(class="menuLink", href="understanding_streams.html") Understanding Streams  

   h3 Additional Reference

   ul.menu
      li
         div.menu-item
            a(class="menuLink", href="ecma5_in_nodejs.html") Using ECMA5 Javascript in Node.js
     