h4 {
    font-size: 12px;
    font-weight: bold;
    color: #2c78bd;
    margin: 16px 0 6px 0;
}

img.right {
    float: right;
}

img.left {
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}

/* links */
a {
    font-weight: normal;
    color: #2c78bd;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

a:hover {
    color: #ffa811;
}

/* images */
img {
    border: 0;
}

/* input */
input {
    background: url('../images/textarea_background.png') no-repeat 0 0;
    *background-attachment: fixed;
    width:  165px;
    height: 16px;
    color: #4b4b4b;
    border: 1px solid #c3c3c3;
    margin: 0;
    padding: 1px 0 0 1px;
    outline: none;
    text-overflow: ellipsis;
}

p{
    line-height : 1.4em;
}

/* --- others --- */
img.openid {
    margin-right: 10px;
    vertical-align: top;
}

/* --- reference guide --- */

body{
}

.apf_page{
    min-height : 600px;
}

.apf_page_content{
    min-height : 515px;
}

body .doc{
    line-height : 1.4em;
    color : #333;
    border : 0;
    margin : 0;
    overflow : visible; 
    padding : 0;
    font-size : 9pt;
}

.doc, .doc p, .doc td, .doc th, .doc a, .doc h3{
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana;
    font-size : 9pt;
    /*font-family : Verdana;
    font-size : 8pt;*/
}

.doc p{
    padding : 0;
}

h1{
    font-size : 20pt;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana;
    color : #2582d1;
    margin : 15px 0 10px 0;
}

p.short{
    margin : 8px 0 10px 0;   
}

h2{
    font-size : 11pt;
    margin : 20px 0 12px 0;
}

.noscript h2{
    color : #2582d1;
}

p.description{
    margin : 0 0 10px 0;
}

h3{
    font-size : 8pt;
    margin : 0 0 5px 0;
}

pre.code {
    background : #f2f2f2;
    padding : 5px;
    margin : 8px 0 20px 0;
    color : black;
    overflow-x : auto;
    overflow-y : hidden;
    font-family : Courier New;
    font-size : 10pt;
}

pre.code a{
    color : #0866ab;
    font-family : Courier New;
}
pre.code a:hover{
    background : #0866ab;
    color : white;
}

table.syntax{
    border : 1px solid #e9e9e9;
    border-bottom : 0;
    border-right : 0;
    background : #f3f3f3;
    margin-bottom : 2px;
}

table.syntax th{
    background : #e9e9e9;
    text-align : left;
    padding : 5px;
    vertical-align : top;
    font-weight : bold;
}

table.syntax th.sub{
    border-bottom : 1px solid #e9e9e9;
}

table.syntax td{
    margin : 0;
    padding : 5px;
    vertical-align : top;
    border-right : 1px solid #e9e9e9;
}

table.syntax td{
    border-bottom : 1px solid #e9e9e9;
}

.codename{
    font-family : Courier New;
}

table th{
    white-space : nowrap;
    text-align : left;
    font-weight : normal;
    vertical-align : top;
}

table.form th{
    font-weight : bold;
}

.members{
    border : 1px solid #ddd;
    padding : 0 0 0 0;
    background : white;
    position : relative;
    margin : 0 0 20px 0;
}

.members .heads{
    height : 30px;
}

.members blockquote{
    display : none;
    padding : 0 !important; padding : 0 16px 0 0;
    overflow-x : hidden;
    overflow-y : scroll;
    height : 270px;
    margin : 28px 0 0 0;
}

.members_long blockquote{
    height : auto;
    overflow-x : hidden;
    overflow-y : visible;
    padding : 0;
}

.members blockquote.current{
    display : block;
}

.members h2{
    margin : 0;
    padding : 5px 4px 6px 4px;
    font-size : 8pt;
    width : 70px;
    cursor : pointer;
    background-color : white;
    float : left;
    text-align : center;    
}

.members h2:hover{
    background : #f0f0f0;
}

.members h2.current{
    padding : 5px 4px 7px 4px !important; padding : 5px 4px 6px 4px;
    z-index : 10;
    position : relative;
    background : #2582d1;
    color : white;
    margin-top : -1px;
    margin-bottom : -1px;
    border-bottom : 1px solid #2582d1;
}

.members table{
    width : 100%;
}

/*.members table td, .members table th, .members table a{
    font-family : Verdana;
    font-size : 8pt;
}*/

.members table th{
    background-color: #2582d1;
    color : white;
    padding : 3px 2px 3px 5px;
    font-weight : bold;
}

.members table td{
    padding : 3px 2px 3px 5px;
    background : #f6f6f6;
    border-bottom : 1px solid #DDD;
    vertical-align : top;
}

.members td.first{
    border-right : 1px solid #DDD;   
}

.members a{
    color : #1063c0;
    white-space : nowrap;
    font-weight : normal;
}

.seperator{
    background : #eee;
    height : 1px;
    overflow : hidden;   
}

.w3c{
    color : #bbb;
}

.required{
    /*color : #2582d1;*/
    font-weight : normal;
}

.members td.hover{
    background : #EEE;
    cursor : pointer;
}

.sizebtn{
    background : url(resources/sort_asc.gif) no-repeat 4px 6px;
    width : 15px;
    height : 15px;
    float : right;
    border : 1px solid #ddd;
    margin : 5px;
    cursor : pointer;
}

.sizebtn:hover{
    background-color : #f3f3f3;
}

.members .baseclass{
    background-color : #ddd;
    padding : 3px 2px 3px 5px;
    color : black;
    border-bottom : 1px solid #ccc;
}
/*
.members tr.head{
    position : absolute;
    top : 5px;
}

.members table{
    margin : 23px 0 0 0;    
}*/

.inheritance {
    float : right;
    border : 1px solid #ddd;
    padding : 2px 10px 5px 10px;
    margin : 10px 0 -10px 10px;
    max-width: 240px;
}

.inheritance ul{
    margin : 0 0 0 0px;
    padding : 1px 0 0 0;
    /*background : url(resources/line.gif) repeat-y 0 0;*/
}

.inheritance li{
    list-style : none;
    background : url(resources/split.gif) no-repeat 0 0;
    margin : 0 0 0 0;
    padding : 0 0 0 23px;
    font-size : 8pt;
}

.inheritance span{
    background : #eee;
    display : block;
    margin : 5px -5px 0;
    padding : 2px 2px 2px 4px;
    width : auto;
}

.inheritance strong{
    font-size : 8pt;
}

.apf_articles .inheritance a,
.inheritance a{
    font-size : 8pt;
}

.inheritance li.last{
    background : url(resources/last.gif) no-repeat 0 0;
}

.inheritance li.root{
    padding : 0;
}

.inheritance h2{
    font-size : 9pt;
    font-weight : bold;
    background : #2582d1;
    color : white;
    display : block;
    margin : 0;
    padding : 2px 3px 2px 4px;
    margin : -2px -11px 0 -11px;
}

.indent{
    padding-left : 20px;
}

.usernotes{
    border-bottom : 2px solid #eee;
    margin : 40px 0 20px 0;
    padding : 0 0 0 0;
    color : #2582d1;
    font-size : 12pt;
}

.used{
    margin : 0 0 10px 10px;
    width : 650px;
}

.used a{
    /*float : left;*/
    background : #f6f6f6;
    /*padding : 1px 2px 1px 2px;*/
    padding : 1px 2px;
    margin : 1px -1px 1px 0;
    /*margin : 1px;*/
    border : 1px solid #eee;
    display : inline-block;
}

.used a:hover{
    background : #f2f2f2;
}

h1.experimental{
    background : #fff000;
    padding : 5px;
    font-size : 8pt;
    color : #333;
    margin : 10px 0 25px 0;
}

h1.incomplete{
    background : #ea2b2b;
    padding : 5px;
    font-size : 8pt;
    color : white;
    margin : 10px 0 25px 0;
}

body .preview{
    border : 0;
    border-bottom : 1px solid #eee;
    margin : 0 0 5px 0;
    background:white url(resources/splitter_docs.gif) no-repeat 50% bottom;
    padding : 0 0 5px 0;
}

body .preview .listcomments{
    margin : 0;
    background : #f2f2f2;
    padding : 10px;
    border : 0;
}

.addnote{
    float : right;
}

.emptypreview{
    font-size : 8pt;
    font-weight : bold;
    color : #ccc;
    text-align : center;
    display : block;
}

.closenote{
    width : 10px;
    height : 10px;
    padding : 0 0 5px 5px;
    overflow : hidden;
    font-size : 8pt;
    color : #999;
    position : absolute;
    right : 2px;
    top : 2px;
    z-index : 1000;
    border : 1px solid #f2f2f2;
}

.closenote:hover{
    background : #f6f6f6;
    border : 1px solid #eee;
}

body .dochome {
    border : 0;
    margin : -10px 0px 20px 0px; 
}
body .dochome h1{
    margin-bottom : 0;
}

.dochome p{
    margin : 10px 0 10px 0;
}

/* alterations to the standard Ajax.org styles - they only apply when embedded inside Ajax.org */
.apf_articles .apf_caption {
    padding-top: 1px;
    padding-left: 10px;
}

.apf_articles .apf_caption span {
    margin-top: 0pt;
    margin-right: -10px;
}

.apf_articles .apf_caption h1 {
    display: none;
}

h1.hdownload {
    margin : 5px 10px 20px 20px
}

h1.hdownload a{
    color : #c3c3c3;
}
h1.hdownload a:hover{
    color: #ffa811;
}

.apf_articles .line{
    position : absolute;
    color : #AAA;
    text-decoration : none;
    font-size : 7pt;
    right : 23px;
    margin-top : -5px;
}

.apf_articles .line:hover{
    color :  #1063c0;
}

body .column_left .apf_democol{
    padding : 0 5px 5px 5px;
    width : 239px;
}

body .column_left .apf_refcol{
    padding : 0 5px 5px 5px;
    width : 239px;
}

#refguide_container, #refguide_container .colbody {
    min-height : 600px;
}

.newnote{
    background-color : #f9f9f9;
    margin : 0 0 20px 0;
}

.manual_page h2 {
    font-size:24px;
    color:#72b220;
    line-height : 1em;
}

.manual_page h3 {
    margin: 15px 0 10px;
}

h3.silver {
    font-size:16px;
    color:#acacac;
}

div.manual_page {

}

div.definition, div.warrning {
    margin: 10px 0 10px;
    font-weight: bold;
}

pre.code {
    width:650px;
    /*border:1px solid #ddd;*/
    background-color:#f2f2f2;
    color:black;
}

div.footnote {
    font-size:9px;
}

span.blue {
    color:#468cc0;
    font-weight:bold;
}

span.help {
    /*like on Ruben\'s blog*/
}

table.figure1 {
    text-align:center;
}

table.figure1 td {
    padding:4px;
}

table.figure1 td.red {
    background-color:#cd2b27;
    width:50%;
}

table.figure1 td.brown {
    background-color:#676767;
}

table.figure1 td.teal {
    background-color:#a9b038;
}

table.figure1 td.purple {
    background-color:#994399;
}

table.figure1 td.green {
    background-color:#3aa147;
}

table.figure1 td.blue {
    background-color:#4062ad;
}

div.infoAPF {
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana;
    font-size : 13px;
    color : #ffffff;
    width : 295px;
    height : 320;
    margin-left : 30px;
    margin-top : 34px;
}

div.infoAPF img {
	clear : both;
	margin-top : 15px;
	margin-bottom : 15px;
}

div.infoAPF p{
    margin : 0 0 10px 0;
    width : 270px;
    line-height : 1.5em;
    font-size : 13px;
    color : #ffffff;
}

div.infoAPF p span{
    font-weight : bold;
}
div.demoarea p span{
    color: #ffa811;
    font-weight : bold;
}

div.demoarea p{
    text-align : center;
    font-family : Tahoma;
    font-size : 13px;
    color : #ffffff;
    margin : 16px 0 5px 0;
    width : 270px;

}

div.demoarea p span{
    font-size : 10px;
}

div.infoAPF .moreinfo{
    margin : 0;
    padding: 0;
}
div.infoAPF .moreinfo li{
    list-style-type: none;
    color : #ffffff;
    font-size : 12px;
    font-weight : bold;
    line-height : 1.7em;
}
div.infoAPF .moreinfo a{
    color : #ffffff;
    font-size : 12px;
    font-weight : bold;
    line-height : 1.7em;
}
div.infoAPF .moreinfo a:hover{
    color: #ffc156;
}
div.infoAPF .moreinfo a span{
    font-size : 9px;
    font-weight : normal;
}

div.infoAPF  a.aMoreInfo {
    font-size : 8px;
    color : #ffffff;
}
