<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a="http://ajax.org/2005/aml" >
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Error | Cloud9</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>

        <link rel="icon" type="image/gif" href="static/shared/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="static/homepage/style/error.css" />
    </head>
    <body>
        <script type="text/javascript">
            // ClickTale Top part
            var WRInitTime=(new Date()).getTime();
            // ClickTale end of Top part
        </script>
        <div class="mainwraper">
            <div class="maincontent">
                <div class="error_msgbox">
                    <div id="error_header"><%errormsg%></div>
                    <div class="error_exit">
                        <p><a href="javascript:location.reload(true)">You can click here</a> to try again, or <a href="/dashboard.html">go back to dashboard</a>.</p>
                        <p>If that still doesn't work, please <a href="http://support.cloud9ide.com/">issue a bug report</a>.</p>
                    </div>
                </div>
                <div class="error_logo"></div>
            </div>
        </div>
        <!-- ClickTale Bottom part -->
        <div id="ClickTaleDiv" style="display: none;"></div>
        <script type='text/javascript'>
            document.write(unescape("%3Cscript%20src=\"" + (document.location.protocol == "https:"
                ? "https://clicktale.pantherssl.com/"
                : "http://s.clicktale.net/") + "WRc5.js\"%20type=\"text/javascript\"%3E%3C/script%3E"));
            </script>
        <script type="text/javascript">
            var ClickTaleSSL = 1;
            if (typeof ClickTale == "function")
                ClickTale(48230, 1, "www");
        </script>
        <!-- ClickTale end of Bottom part -->
    </body>
</html>