<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a="http://ajax.org/2005/aml" >
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Error | Cloud9 - Your code, anywhere, anytime</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>

        <link rel="icon" type="image/gif" href="/static/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="/static/style/error.css" />
    </head>
    <body>
        <div class="mainwarper">
            <div class="maincontent">
                <div class="error_logo">
                    <div class="error_msgbox">
                        <div class="error_msg1"><%errormsg%></div>
                        <div class="error_msg2"><a href="javascript:location.reload(true)">Click here</a> to try again, or <a href="/dashboard.html">go back to dashboard</a>. If that doesn't work please issue a bug report <a href="http://cloud9ide.lighthouseapp.com/dashboard">here</a></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>