<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a="http://ajax.org/2005/aml" skipParse="[%packed%]">
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>[%projectName%] - Cloud9</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <script type="text/javascript">
        //<![CDATA[
            if (<%local%>)
                document.title += " Local";
        //]]>
        </script>
        <link rel="icon" type="image/gif" href="[%staticUrl%]/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="[%staticUrl%]/ext/main/style/style.css" />

        [%loadedDetectionScript%]
        <script type="text/javascript" src="[%staticUrl%]/require.js"></script>
        [%scripts%]
        <script type="text/javascript">
        //<![CDATA[

            window.cloud9config = {
                startdate: new Date(),
                davPrefix: <%davPrefix%>,
                workspaceDir: <%workspaceDir%>,
                debug: <%debug%>,
                sessionId: <%sessionId%>,
                workspaceId: <%workspaceId%>,
                runners: <%runners%>,
                name: <%name%>,
                uid: <%uid%>,
                pid: <%pid%>,
                readonly: <%readonly%>,
                projectName: <%projectName%>,
                version: <%version%>,
                workerUrl: "[%workerUrl%]",
                staticUrl: "[%staticUrl%]",
                smithIo: <%smithIo%>,
                hosted: [%hosted%],
                local: <%local%>,
                env: <%env%>,
                settings: <%settingsXml%>,
                packed: <%packed%>,
                packedName: <%packedName%>
            };

            // prevent console messages from crashing our app!
            if (typeof window["console"] == "undefined") {
                var K = function() {};
                window.console = {log:K,debug:K,dir:K,trace:K,error:K,warn:K,profileStart:K,profileEnd:K};
            }

            if (!cloud9config.packed) {
                var RELEASE = "release";
                var DEBUG   = "debug";
                var FILES   = "files";

                var VERSION = window.cloud9config.debug ? DEBUG : RELEASE;

                var apfLoc = "[%staticUrl%]/apf-packaged/apf_" + VERSION + ".js";
            }
            else {
               var apfLoc = "";
            }
            
            var config = <%requirejsConfig%>; 

            function createSplash() {
                var loadingMsgs = ["Cloning weapon...",
                    "Red 5, standing by...",
                    "Making sure all systems are operational...",
                    "Turning you to the dark side--we have cookies...",
                    "Assembling the alliance...",
                    "Copy, Gold Leader. We are already on our way out...",
                    "Dispatching war rocket Ajax to bring back his body...",
                    "Making you strong with the force, we are...",
                    "The Shield is down! Commencing attack on the Death star's main reactor...",
                    "Your precious awaits...",
                    "I am Gandalf the White. And I come back to you now, at the turn of the tide...",
                    "Reticulating splines..."];
                var loadingIde = document.createElement('div');
                loadingIde.setAttribute("id", "loadingide");
                var msg = loadingMsgs[Math.floor(Math.random() * loadingMsgs.length)];

                msg = msg.replace(/"/g, "&quot;").replace(/'/g, "&#8217;").replace(/</g, "&lt;");
                loadingIde.innerHTML = '<div class="loader-content"><div class="spinner"></div>' + msg + '</div>';
                document.body.appendChild(loadingIde);
            }

            require(config, [apfLoc], function(){
                setTimeout(createSplash);

                if (!cloud9config.packed) {
                    var list = ["core/ide", "core/ext", "core/util", 
                    "core/settings", "ext/main/main", "ext/editors/editors",
                    "ace/editor"];
                }
                else {
                    var list = ["[%staticUrl%]/" + (cloud9config.packedName.length > 0 ? cloud9config.packedName : "packed.js")];
                }
                
                require(list, function(ide, ext, util){
                    if (!cloud9config.packed) {
                        var plugins = <%plugins%>;
                    }

                    // if you pass `force=true` into the querystring, then
                    // we bypass the browser check
                    if (window.cloud9config.hosted && !window.location.search.match(/\bforce\=true\b/)) {
                        // otherwise, ask apf
                        if (apf.isIE) {
                            // redirect to the notsupported page
                            var ref = encodeURIComponent(window.location.pathname + window.location.search);
                            window.location.href = "/site/notsupported.html?ref=" + ref;
                        }
                    }

                    var aceConfig = require("ace/config");

                    aceConfig.set("packaged", true);
                    aceConfig.set("workerPath", "[%workerUrl%]/ace/worker");
                    aceConfig.set("modePath", "[%staticUrl%]/ace/mode");
                    aceConfig.set("themePath", "[%staticUrl%]/ace/theme");
                    
                    //Load extensions
                    if (!cloud9config.packed) {
                        apf.addEventListener("load", function(){
                            require(plugins, function() {
                                loadAndBegin(ide, plugins);
                            });
                        });
                    }
                    else {
                        apf.addEventListener("load", function() {
                            var ide = require("core/ide");
                            window.ide = ide;
                            loadAndBegin(ide, list);
                        });
                    }

                });
                preloaderImgs();
            });

            function loadAndBegin(ide, plugins) {
                ide.dispatchEvent("extload", {modules: plugins});

                cloud9config.totalTime = new Date() - cloud9config.startdate;
                console.log("Total Load Time " 
                    + (cloud9config.totalTime) + "ms");

                var loadingDiv = document.getElementById("loadingide");
                if (loadingDiv)
                    document.body.removeChild(loadingDiv);

                ide.addEventListener("$event.extload", function(cb){
                    cb();
                });
            }

            function preloaderImgs() {
                var preloadImgs = [
                    "[%staticUrl%]/ext/main/style/images/bg-overlay.png",
                    "[%staticUrl%]/ext/main/style/images/cover-heaeder.png",
                    "[%staticUrl%]/ext/main/style/images/cover-logo.png",
                    "[%staticUrl%]/ext/main/style/images/panelBg.png",
                    "[%staticUrl%]/ext/main/style/images/editor_tab.png",
                    "[%staticUrl%]/ext/main/style/images/cloud9logo_transparent.png",
                    "[%staticUrl%]/ext/main/style/images/loading-your-editor.png",
                    "[%staticUrl%]/ext/main/style/images/loaderide.gif"
                ];
                if (document.images) {
                    var img;
                    for(var i = 0; i < preloadImgs.length; i++) {
                        img = new Image();
                        img.src = preloadImgs[i];
                    }
                }
            }
        //]]>
        </script>
    </head>
    <body>
    </body>
</html>
