<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a="http://ajax.org/2005/aml" skipParse=[%packed%]>
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>[%projectName%] - Cloud9</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>

        <link rel="icon" type="image/gif" href="[%staticUrl%]/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="[%staticUrl%]/ext/main/style/style.css" />
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/nbdmccoknlfggadpfkmcpnamfnbkmkcp">
        
        <script type="text/javascript" src="/[%socketIoUrl%]/socket.io.js"></script>
        <script type="text/javascript" src="[%staticUrl%]/require.js"></script>
        [%scripts%]
        <script type="text/javascript">
        //<![CDATA[

            window.cloud9config = {
                startdate: new Date(),
                davPrefix: <%davPrefix%>,
                workspaceDir: <%workspaceDir%>,
                debug: <%debug%>,
                sessionId: <%sessionId%>,
                workspaceId: <%workspaceId%>,
                name: <%name%>,
                readonly: <%readonly%>,
                projectName: <%projectName%>,
                version: <%version%>,
                staticUrl: "[%staticUrl%]",
                socketIoUrl: <%socketIoUrl%>,
                socketIoTransports: <%socketIoTransports%>,
                hosted: [%hosted%],
                settings: <%settingsXml%>,
                packed: <%packed%> ? true : false,
                packedName: <%packedName%>
            };

            // prevent console messages from crashing our app!
            if (typeof window["console"] == "undefined") {
                var K = function() {};
                window.console = {log:K,debug:K,dir:K,trace:K,error:K,warn:K,profileStart:K,profileEnd:K};
            }

            if (!cloud9config.packed) {
                var RELEASE = "release";
                var DEBUG   = "debug";
                var FILES   = "files";

                var VERSION = window.cloud9config.debug ? DEBUG : RELEASE;

                var apfLoc = "[%staticUrl%]/apf-packaged/apf_" + VERSION + ".js";
            }
            else {
               var apfLoc = "";
            }
            
            var config = <%requirejsConfig%>; 

            require(config, [apfLoc], function(){
                if (!cloud9config.packed) {
                    var list = ["core/ide", "core/ext", "core/util", 
                    "core/settings", "ext/main/main", "ext/editors/editors",
                    "ace/editor"];
                }
                else {
                    var list = ["[%staticUrl%]/" + (cloud9config.packedName.length > 0 ? cloud9config.packedName : "packed.js")];
                }
                
                require(list, function(ide, ext, util){
                    if (!cloud9config.packed) {
                        var plugins = <%plugins%>;
                    }
                    else {
                        var ide = require("core/ide"), ext = require("core/ext"), util = require("core/util");
                    }
                    
                    var aceConfig = require("ace/config");

                    aceConfig.set("packaged", true);
                    aceConfig.set("workerPath", "/static/ace/worker");
                    aceConfig.set("modePath", "[%staticUrl%]/ace/mode");
                    aceConfig.set("themePath", "[%staticUrl%]/ace/theme");
                    
                    //Load extensions
                    if (!cloud9config.packed) {
                        apf.addEventListener("load", function(){
                            require(plugins, function() {
                                loadAndBegin(ide, plugins);
                            });
                        });
                    }
                    else {
                        loadAndBegin(ide, list);
                    }
                });
                preloaderImgs();
            });

            function loadAndBegin(ide, plugins) {
                ide.dispatchEvent("extload", {modules: plugins});

                cloud9config.totalTime = new Date() - cloud9config.startdate;
                console.log("Total Load Time " 
                    + (cloud9config.totalTime) + "ms");

                ide.addEventListener("$event.extload", function(cb){
                    cb();
                });
            }

            function preloaderImgs() {
                var preloadImgs = [
                    "[%staticUrl%]/ext/main/style/images/bg-overlay.png",
                    "[%staticUrl%]/ext/main/style/images/cover-heaeder.png",
                    "[%staticUrl%]/ext/main/style/images/cover-logo.png",
                    "[%staticUrl%]/ext/main/style/images/panelBg.png",
                    "[%staticUrl%]/ext/main/style/images/editor_tab.png",
                    "[%staticUrl%]/ext/main/style/images/cloud9logo_transparent.png"
                ];
                if (document.images) {
                    var img;
                    for(var i = 0; i < preloadImgs.length; i++) {
                        img = new Image();
                        img.src = preloadImgs[i];
                    }
                }
            }
        //]]>
        </script>
    </head>
    <body style="display:none">
        <div id="noscript">
            <div class="noscript">
                <div id="hp_header">
                    <div id="logo"></div>
                </div>
                <div class="oldbro_middle_panel">
                    <div class="content">
                        <p>Your browser is not supported by ajax.org. Please upgrade your browser to one of these modern browsers.</p>
                        <span class="browser_option">
                            <a href="http://www.mozilla.com/firefox" target="_blank">
                                <img src="[%staticUrl%]/ext/main/style/images/browsers/ff_32x32.png" alt="" />
                                <div>Mozilla Firefox</div>
                            </a>
                        </span>
                        <span class="browser_option" style="width:50px;">
                            <a href="http://www.apple.com/safari" target="_blank">
                                <img src="[%staticUrl%]/ext/main/style/images/browsers/safari_32x32.png" alt="" />
                                <div>Safari</div>
                            </a>
                        </span>
                        <span class="browser_option">
                            <a href="http://www.google.com/chrome" target="_blank">
                                <img src="[%staticUrl%]/ext/main/style/images/browsers/chrome_32x32.png" alt="" />
                                <div>Google Chrome</div>
                            </a>
                        </span>
                        <span class="browser_option">
                            <a href="http://www.microsoft.com/windows/internet-explorer" target="_blank">
                                <img src="[%staticUrl%]/ext/main/style/images/browsers/ie_32x32.png" alt="" />
                                <div>Internet Explorer</div>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="wn_main_section_rounded">
                    <div class="wnmsr_left"></div>
                    <div class="wnmsr_middle"></div>
                    <div class="wnmsr_right"></div>
                </div>
            </div>
        </div>
    </body>
</html>
