<a:application xmlns:a="http://ajax.org/2005/aml">
    <a:checkbox class="underlined" label="Preserve Empty Lines" value="[beautify/jsbeautify/@preserveempty]" skin="checkbox_grey" position="1000"/>
    <a:checkbox class="underlined" label="Keep Array Indentation" value="[beautify/jsbeautify/@keeparrayindentation]" skin="checkbox_grey" position="2000"/>
    <a:checkbox class="underlined" label="JSLint Strict Whitespace" value="[beautify/jsbeautify/@jslinthappy]" skin="checkbox_grey" position="3000"/>
    <a:hbox edge="5 5 2 12" align="center" position="4000">
        <a:label flex="1">Braces</a:label>
        <a:dropdown value="[{require('core/settings').model}::beautify/jsbeautify/@braces]" width="185" height="21">
            <a:item value="collapse">Braces with control statement</a:item>
            <a:item value="expand">Braces on own line</a:item>
            <a:item value="end-expand">End braces on own line</a:item>
        </a:dropdown>
    </a:hbox>
    <a:checkbox class="underlined" label="Space Before Conditionals" value="[beautify/jsbeautify/@space_before_conditional]" skin="checkbox_grey" position="5000"/>
    <a:checkbox class="underlined" label="Unescape Strings" value="[beautify/jsbeautify/@unescape_strings]" skin="checkbox_grey" position="6000"/>
</a:application>
