
<a:application xmlns:a="http://ajax.org/2005/aml">
    <a:model id="mdlRunnerSelector2">
        <data>
            <element caption="Auto" value="auto" />
            <element caption="Node.js 0.6.x" value="0.6.x" />
            <element caption="Node.js 0.4.x" value="0.4.x" />
            <!--element caption="Python" value="py" /-->
        </data>
    </a:model>
    <a:checkbox position="18900" class="underlined" label="Auto show and hide debug tools" value="[{require('ext/settings/settings').model}::auto/configurations/@autohide]" skin="checkbox_grey" />
    <a:hbox position="19000" edge="2 5 5 5" align="center" class="underlined">
        <a:label flex="1">Node.js Runtime</a:label>        
        <a:dropdown
          model     = "mdlRunnerSelector2"
          width     = "100"  
          height    = "21"
          disabled  = "{!lstRunCfg.selected}"
          value     = "[{require('core/settings').model}::auto/node-version/@version]"
          default   = "auto"
          each      = "[element]"
          caption   = "[@caption]"
          eachvalue = "[@value]" />
    </a:hbox>
    
</a:application>
