.c9-debugInfo {
    position: absolute;
    width: 223px;
    height: 81px;
    top: 10px;
    left: 345px;
    z-index: 50000;
    min-width: 0px;
    min-height: 0px;
    max-width: 9998px;
    max-height: 9992px;
    opacity: 0;
    display: block;
    line-height: 13px;
    overflow: visible;
}

.debugInfoContainer {
    padding: 5px 7px 1px 12px;
}

.debugInfoDesc {
    color: #bdbdbd;
    background: transparent;
    line-height: 16px;
    position: relative;
    padding-left: 5px;
}

.debugInfoArrow {
    left: 98px;
}