<a:application xmlns:a="http://ajax.org/2005/aml">
    <a:hbox edge="2 5 2 5" align="center" position="20000" class="underlined">
        <a:label flex="1">Keybindings: </a:label>
        <a:dropdown id="ddKeyBind"
          model     = "mdlKeyBindings"
          width     = "120"  
          height    = "21"
          value     = "[{require('ext/settings/settings').model}::general/keybindings/@preset]"
          each      = "[item]"
          caption   = "[text()]"
          eachvalue = "[@value]" />
        
        <a:model id="mdlKeyBindings">
            <data>
                <item value="auto">Auto</item>
                <item value="mac">Apple OSX</item>
                <item value="win">Microsoft Windows</item>
            </data>
        </a:model>
    </a:hbox>
</a:application>