#menubar {
    background: white;
    box-shadow: 
        0 1px 0 0 rgba(0,0,0,.3),
        0 3px 3px 0 rgba(0,0,0,.3);
    box-sizing: border-box;
    left: 0;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
#menubar .link {
    border-right: 1px solid #dedede;
    color: #3E95DE;
    display: inline-block;
    font-weight: bold;
    height: 19px;
    line-height: 19px;
    margin: 4px 0;
    padding: 0 5px;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
}
#menubar .link:last-child {
    border-right: none;
}
.anchor {
    display: inline-block;
    margin-bottom: 30px;
}

.winUIExt .wn_cp_content {
    background: white;
    overflow: scroll;
}
#winUIExtContent {
    margin-top: 32px;
    max-height: 100% !important;
    padding: 20px;
}

#winUIExtContent h1 {
    margin-top: 0;
}
#winUIExtContent h2 a {
    color: #3E95DE;
    text-transform: capitalize;
}
.ui-section h2 {
    text-transform: capitalize;
}
.ui-section.close .ui-item {
    display: none;
}

#winUIExtContent h4 {
    background: #FEF0CF;
    padding: 10px 5px;
    border-top: 1px solid #E3D5BC;
}
#winUIExtContent .winUIExtCode {
    background: #f2f2f2;;
    border-radius: 4px;
    border: 0 none;
    box-shadow: 0 0 0 1px #ddd;
    font-family: monospace;
    padding: 10px;
    margin-top: 10px;
    white-space: pre-wrap;
    width: 530px !important;
}
#winUIExtContent .ui-dropdown-section .winUIExtCode {
    height: 150px;
}
#winUIExtContent .ui-datagrid-section .winUIExtCode {
    height: 300px;
}
#winUIExtContent .skin:after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

#winUIExtContent .version {
    float: left;
    margin-left: 17px;
    margin-bottom: 17px;
    width: 550px;
}
#winUIExtContent .relative {
    position: relative;
}
#winUIExtContent .header-btn {
    top: 0;
    left: 0;
    position: relative;
}

.position-static {
    position: static !important;
    margin: 0 !important;
}



.lightsOff {
    background: #2B2B2B;
}
#winUIExtContent.lightsOff h3 {
    color: #ccc;
}
#winUIExtContent.lightsOff h4 ,
#winUIExtContent.lightsOff .winUIExtCode {
    background: #222;
    color: #aaa;
}
#winUIExtContent.lightsOff h4 {
    border-top-color: #111;
}
#winUIExtContent.lightsOff .winUIExtCode {
    box-shadow: 0 0 0 1px #111;
}