<!DOCTYPE html>
<html manifest="static/offline.manifest" xmlns="http://www.w3.org/1999/xhtml" xmlns:a="http://ajax.org/2005/aml" >
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Cloud9 - Your code, anywhere anytime.</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>

        <link rel="icon" type="image/gif" href="[%staticUrl%]/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="[%staticUrl%]/style/style.css" />

        <script type="text/javascript" src="[%staticUrl%]/require.js"></script>
        <script type="text/javascript">//<!--

            window.cloud9config = {
                davPrefix: <%davPrefix%>,
                workspaceDir: <%workspaceDir%>,
                settingsUrl: <%settingsUrl%>,
                debug: <%debug%>,
                sessionId: <%sessionId%>,
                workspaceId: <%workspaceId%>,                
                name: <%name%>
            };
            
            // prevent console messages crash our app!
            if (typeof window["console"] == "undefined") {
                var K = function() {};
                window.console = {log:K,debug:K,dir:K,trace:K,error:K,warn:K,profileStart:K,profileEnd:K};
            }

            var RELEASE = "release";
            var DEBUG   = "debug";
            var FILES   = "files";
            
            var VERSION = window.cloud9config.debug ? FILES : RELEASE;

            var apfLoc = VERSION == FILES
                ? "[%staticUrl%]/support/apf/apf.js"
                : "[%staticUrl%]/js/apf_" + VERSION + ".js";

            var config = {
                paths: {
                    "pilot": "[%staticUrl%]/support/ace/support/cockpit/support/pilot/lib/pilot",
                    "ace": VERSION == FILES ? "[%staticUrl%]/support/ace/lib/ace" : "[%staticUrl%]/support/ace/lib/ace",
                    "debug": "[%staticUrl%]/support/lib-v8debug/lib/v8debug",
                    "apf": "[%staticUrl%]/support/apf"
                },
                waitSeconds: 30
            }
            require(config, [apfLoc], function(){
                apf.onstart = function(){
                    var list = ["core/ide", "core/ext", "core/util"];
                    if (VERSION == RELEASE)
                        list.push("ace/editor")

                    require(list, function(ide, ext, util){
                        ide.settings = <%settingsXml%>;

                        var plugins = <%plugins%>;
                        apf.addEventListener("load", function(){
                            //Load extensions
                            require(plugins, function(){
                                ide.dispatchEvent("extload", {modules: plugins});
                            });
                        });
                    });
                }
                if (apf.started)
                    apf.onstart();
            });
        //--></script>
    </head>
    <body>
        <div id="noscript">
            <div class="noscript">
                <div id="hp_header">
                    <div id="logo"></div>
                </div>
                <div class="oldbro_middle_panel">
                    <div class="content">
                        <p>Your browser is not supported by ajax.org. Please upgrade your browser to one of these modern browsers.</p>
                        <span class="browser_option">
                            <a href="http://www.mozilla.com/firefox" target="_blank">
                                <img src="[%staticUrl%]/style/images/browsers/ff_32x32.png" alt="" />
                                <div>Mozilla Firefox</div>
                            </a>
                        </span>
                        <span class="browser_option" style="width:50px;">
                            <a href="http://www.apple.com/safari" target="_blank">
                                <img src="[%staticUrl%]/style/images/browsers/safari_32x32.png" alt="" />
                                <div>Safari</div>
                            </a>
                        </span>
                        <span class="browser_option">
                            <a href="http://www.google.com/chrome" target="_blank">
                                <img src="[%staticUrl%]/style/images/browsers/chrome_32x32.png" alt="" />
                                <div>Google Chrome</div>
                            </a>
                        </span>
                        <span class="browser_option">
                            <a href="http://www.microsoft.com/windows/internet-explorer" target="_blank">
                                <img src="[%staticUrl%]/style/images/browsers/ie_32x32.png" alt="" />
                                <div>Internet Explorer</div>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="wn_main_section_rounded">
                    <div class="wnmsr_left"></div>
                    <div class="wnmsr_middle"></div>
                    <div class="wnmsr_right"></div>
                </div>
            </div>
        </div>

        <a:skin
          src        = "[%staticUrl%]/style/skins.xml"
          media-path = "[%staticUrl%]/style/images/"
          icon-path  = "[%staticUrl%]/style/icons/" />

        <a:appsettings name="ide" debug="false"
          disable-space       = "true"
          auto-hide-loading   = "true"
          allow-select        = "false"
          allow-blur          = "true"
          initdelay           = "false"
          storage             = "cookie"
          baseurl             = "{apf.host ? apf.host : ''}" />

        <!-- default model -->
        <a:model />

        <a:loader id="loader">
            <div id="loadscreen" class="loader">
                <div>Loading...</div>
            </div>
        </a:loader>

        <a:state id="stServerConnected" active="false" />
        <a:state id="stProcessRunning" active="false" />

        <a:include src="[%staticUrl%]/include/models.xml" />
        <a:include src="[%staticUrl%]/include/menus.xml" />
        <a:include src="[%staticUrl%]/include/windows.xml" />

        <a:vbox anchors="0 0 0 0" id="vbMain">
            <a:bar skin="headerbar">
                <a id="logo" href="#" title="cloud9 ide">cloud9</a>
            </a:bar>
            <a:toolbar id="tbMain">
                <a:menubar id="barMenu" class="headerMenuBar">
                    <a:button submenu="mnuFile">File</a:button>
                    <a:button submenu="mnuEdit">Edit</a:button>
                    <a:button submenu="mnuView">View</a:button>
                </a:menubar>
                <a:bar id="barTools">

                </a:bar>
            </a:toolbar>

            <a:vbox id="mainRow" padding="8" splitters="true" flex="1">
                <a:hbox padding="8" edge="8 8 0 8" flex="1" splitters="true">
                    <a:vbox id="colLeft" padding="8" width="200" splitters="true" />
                    <a:vbox id="colMiddle" flex="1" padding="8" splitters="true" />
                    <a:vbox id="colRight" padding="8" width="300" visible="false" splitters="true" />
                </a:hbox>
            </a:vbox>
            
            <a:statusbar id="sbMain" visible="false">
                <a:section />
            </a:statusbar>
        </a:vbox>
    </body>
</html>
