/* glue: 0.2.8.1 hash: 525228f3dc */
.sprite-file_icons-page_white_wrench,
.sprite-file_icons-page_white_text,
.sprite-file_icons-page_white_ruby,
.sprite-file_icons-page_white_picture,
.sprite-file_icons-page_white_php,
.sprite-file_icons-page_white_h,
.sprite-file_icons-page_white_go,
.sprite-file_icons-page_white_flash,
.sprite-file_icons-page_white_cup,
.sprite-file_icons-page_white_csharp,
.sprite-file_icons-page_white_cplusplus,
.sprite-file_icons-page_white_coldfusion,
.sprite-file_icons-page_white_code_red,
.sprite-file_icons-page_white_code,
.sprite-file_icons-page_white_c,
.sprite-file_icons-page_white_actionscript,
.sprite-file_icons-page_white_acrobat,
.sprite-file_icons-page_white,
.sprite-file_icons-image,
.sprite-file_icons-html,
.sprite-file_icons-css{background-image:url('file_icons.png');background-repeat:no-repeat}
.sprite-file_icons-page_white_wrench{background-position:0px 0px;width:16px;height:16px;}
.sprite-file_icons-page_white_text{background-position:-16px 0px;width:16px;height:16px;}
.sprite-file_icons-page_white_ruby{background-position:0px -16px;width:16px;height:16px;}
.sprite-file_icons-page_white_picture{background-position:-16px -16px;width:16px;height:16px;}
.sprite-file_icons-page_white_php{background-position:-32px 0px;width:16px;height:16px;}
.sprite-file_icons-page_white_h{background-position:-32px -16px;width:16px;height:16px;}
.sprite-file_icons-page_white_go{background-position:0px -32px;width:16px;height:16px;}
.sprite-file_icons-page_white_flash{background-position:-16px -32px;width:16px;height:16px;}
.sprite-file_icons-page_white_cup{background-position:-32px -32px;width:16px;height:16px;}
.sprite-file_icons-page_white_csharp{background-position:-48px 0px;width:16px;height:16px;}
.sprite-file_icons-page_white_cplusplus{background-position:-48px -16px;width:16px;height:16px;}
.sprite-file_icons-page_white_coldfusion{background-position:-48px -32px;width:16px;height:16px;}
.sprite-file_icons-page_white_code_red{background-position:0px -48px;width:16px;height:16px;}
.sprite-file_icons-page_white_code{background-position:-16px -48px;width:16px;height:16px;}
.sprite-file_icons-page_white_c{background-position:-32px -48px;width:16px;height:16px;}
.sprite-file_icons-page_white_actionscript{background-position:-48px -48px;width:16px;height:16px;}
.sprite-file_icons-page_white_acrobat{background-position:-64px 0px;width:16px;height:16px;}
.sprite-file_icons-page_white{background-position:-64px -16px;width:16px;height:16px;}
.sprite-file_icons-image{background-position:-64px -32px;width:16px;height:16px;}
.sprite-file_icons-html{background-position:-64px -48px;width:16px;height:16px;}
.sprite-file_icons-css{background-position:0px -64px;width:16px;height:16px;}
