.c9-revisionsInfo {
	width: 240px;
	height:63px;
    position: absolute;
    top: 10px;
    left: 450px;
    z-index: 50000;
    min-width: 0px;
    min-height: 0px;
    max-width: 9998px;
    max-height: 9992px;
    opacity: 0;
    display: block;
    padding: 7px;
    line-height: 13px;
    overflow: visible;
}

.revisionsInfoDesc {
    color: #BDBDBD;
	background: transparent;
	line-height: 16px;
    position: relative;
}

.revisionsInfoArrow {
    left: 115px;
}

.revisionsInfoLink {
    color :#BDBDBD;
}