
.c9-menu-bar.local .c9-sync.btn .left, 
.c9-menu-bar.local .c9-sync.btn .right,
.c9-menu-bar.local .c9-sync.btn .lbl{
    background-image: none;  
}

.menu-bk.sync-info-tooltip {
    color: #d6d6d6;
    text-shadow : rgba(0, 0, 0, .60) 0px 1px 0px;
    
    margin-top:8px;
    margin-left:8px;
    padding:7px 10px 10px 12px;
    line-height:17px;
}
.sync-info-tooltip .close-sync-info {
    background: url("{ide.staticPrefix}/ext/main/style/images/close-btn.png") no-repeat 0 0;
    height: 14px;
    width: 13px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: default;
    display: block;
}

.sync-info-tooltip .progress-bar {

}

.sync-info-tooltip .sync-file-label {
    color: #818080;
    padding-top: 6px;
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}

.sync-info-tooltip .pause-sync .caption {
    background: url({ide.staticPrefix}/ext/main/style/images/pause-icon.png) no-repeat 0 0;
    height: 13px;
}
.sync-info-tooltip.menu-bk.c9-tooltip .arrow {
    left: 65%;
}