-var link = link || termLink;
 input#live_search_toc
 p#no_search_results
    | <span class="number_circle">!</span> No search results
 h3 Containers
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.define !== undefined && x.container === true})
    li.menu-item
      mixin link(obj, ["container"])

 h3 Form
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.define !== undefined && x.form === true})
    li.menu-item
      mixin link(obj, ["form"])

 h3 Layout
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.define !== undefined && x.layout === true})
    li.menu-item
      mixin link(obj, ["layout"])

 h3 Selection
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.define !== undefined && x.selection === true})
    li.menu-item
      mixin link(obj, ["selection"])

 h3 Logic
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.define !== undefined && x.logic === true})
    li.menu-item
      mixin link(obj, ["logic"])

 h3 Media
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.define !== undefined && x.media === true})
    li.menu-item
      mixin link(obj, ["media"])

 h3 Parsing
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.parser === true})
    li.menu-item
      mixin link(obj, ["parser"])

 h3 Base Classes
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.baseclass === true})
    li.menu-item
      mixin link(obj, ["baseclass"])

 h3 Additional Classes
  ul.menu
   for obj in fullTree.children.filter(function(x){return x.private !== true && x.additional === true})
    li.menu-item
      mixin link(obj, ["additional"])

 h3 Terms
  ul.menu
    li
        a(href="./actionrules.html") Action Rules
    li
        a(href="./baseclass.html")   Base Classes
    li
        a(href="./bindingrules.html") Binding Rules
    li
        a(href="./caret.html") Caret
    li
        a(href="./datainstruction.html") Data Instructions
    li
        a(href="./datanode.html") Data Node
    li
        a(href="./eachnode.html") Each Node
    li
        a(href="./livemarkup.html") Live Markup
    li
        a(href="./locking.html") Locking
    li
        a(href="./propertybinding.html") Property Binding
    li
        a(href="./smartbinding.html") Smart Binding