.idegrabber{
    border : 1px solid midnightblue;
    background : white;
    width : 5px;
    height : 5px;
    position : absolute;
    overflow : hidden;
    z-index : 1000000;
    
    -moz-border-radius: 2px;
    webkit-border-radius: 2px;
    border-radius: 2px;
}

.idegrabber:hover, .idegrabber_resizing{
    background : midnightblue;
    border-color : white;
}
.idegrabber_selected{
    background : #ddd;
    border-color : gray white white gray;
}
.idegrabber_selected:hover{
    background : #adc0de;
    border-color : #425573 white white #425573;
}
.idegrabber_disabled, .idegrabber_disabled:hover{
    background : gray;
    border : 1px solid white;
}

.pointer_left, .pointer_right{
    position : absolute;
	border : 1px solid transparent;
	overflow : hidden;
	z-index : 1000000;
	cursor : crosshair;
}
.pointer_left{
    left : 0px;
	top : 0px;
	border-width : 0px 1px 1px 0px;
}
.pointer_right{
	right : 0px;
	bottom : 0px;
	border-width : 1px 0px 0px 1px;
}

.new_element{
    position : absolute;
	border : 1px dotted black;
	display : none;
	overflow : hidden;
	z-index : 1000000;
}

.bordertop{
    border-top:1px solid #c3c3c3;
}

.editable .table, .editable .label, .editable .vbox, .editable .hbox{
    outline : 1px dotted gray;
}

.editable .tb, .editable .ta{
    cursor : default;
}

.table .tb{
    width : 100%;
}

.dragindicate{
    overflow : hidden;
    background : red;
}

.indicate_table{
    background : transparent;
    border : 2px solid red;
}

.indicate_common{
    background : transparent;
    border : 4px dashed #24a3f4;
}

.indicate_horizontal{
    border-style : solid;
}

.dragreparent{
    background : transparent;
    border : 2px solid orange;   
}

.dragelsort{
    background : transparent;
    border : 10px solid #eee;   
}

#txt_rename.editable{
    /*border : 1px solid #327fbd;*/
    background : white;
    width : auto;
    display : inline;
    min-width : 9px;
    width : 100%;
    padding : 0px 2px 0px 2px;
    margin : 0px -2px -0px -2px;
    cursor : text;
    white-space : normal;
    outline : none;
}

.apf_btn #txt_rename.editable{
    width : 100%;
    padding : 0;
    margin : 0;
    white-space : nowrap;
}

.window>.title>#txt_rename.editable{
    background : black;
    width : auto;
}

.buttonbar{
}

.multiselect_container{
    position   : absolute;
    display    : none;
    z-index    : 3000000;
    overflow   : hidden;
    min-height : 3px;
    min-width  : 3px;
}

.multiselect_container div{
    border : 1px solid #042c4b;
    background : #0c8bf0;
    position : absolute;
    opacity: 0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

html.has_apf .drag#apf_outline{
    border : 2px solid gray;
    background : transparent;
    filter:;
    opacity:1;
}

/* visualconnect box */
.atchart_box {
    color       : #333333;
    font-family : Tahoma;
    font-size   : 120px;
    height      : 29px;
    min-width   : 30px;
    min-height  : 29px;
    max-height  : 29px;
    overflow    : hidden;
    cursor      : default;
    position    : absolute;
}

.atchart_box .left {
    float         : left;
    width         : 5px;
    height        : 29px;
}

.atchart_box .lbl {
    height        : 24px;
    padding-top   : 5px;
    text-align    : left;
    margin-left   : 5px;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}

.atchart_box .right {
    float        : right;
    width        : 5px;
    height       : 29px;
}

.atchart_box .red_button {
    float        : right;
    width        : 15px;
    background   : url("images/delete.png") no-repeat 0 0;
    height       : 15px;
    margin       : 7px 0 0 7px;
}

.atchart_box .red_button:hover {
    background-position:0 -15px;
}

.atchart_box .left {
    background : url("images/backg_left.png") no-repeat 0 0;
}

.atchart_box .lbl {
    background : url("images/backg_middle.png") repeat-x 0 0;
}

.atchart_box .right {
    background : url("images/backg_right.png") no-repeat 0 0;
}

.atchart_box span,
.atchart_box label,
.atchart_box input {
    padding  : 1px 0;
    border   : 1px solid transparent;
    position : relative;
    overflow : hidden;
    float:left;
    font-weight:bold;
}
.atchart_box div div {
    float: left;
    overflow: hidden;
}
.atchart_box span.section1 {
    display  : block;
}

.atchart_box span.section2 {
    color:#3799ea;
    padding-right:12px;
    background : url("images/arrow_down.png") no-repeat right 7px;
    display:block;
}

.atchart_box span.section2 A {
    color:#1e7ecd;
    text-decoration:none;
}

.atchart_box span.section2:hover {
    cursor: pointer;
}
.atchart_box span.section2:hover A {
    color:#3799ea;
    border-bottom:1px dotted #3799ea;
}

.active span.section2 {
    background-color:#fcfcfc;
}

.active span.section2 A {
    color:#1e7ecd;
    border-bottom:1px dotted #3799ea;
}

.atchart_box span.section2:hover,
.atchart_box label.section5:hover,
.atchart_box input.section5:hover {
    background-color:#fcfcfc;
}

.atchart_box span.section3 {
    margin:0 2px;
    display:block;
}

.atchart_box span.section4 {
    color:#aaaaaa;
    display:block;
}

.atchart_box span.section5 {
    display:block;
}

INPUT.section5 {
    border:0;
    width: 105px
    background-color:#fcfcfc;
    color       : #333333;
    font-family : Tahoma;
    font-size   : 12px;
}